@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    
}

body, html {
	font-family: Inter, sans-serif;
}

.login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    max-width: 1920px;
}

.loginWithEmail{
    flex-direction: row;
}

.form{
    margin-left: 10%;
    max-width: 640px;
    height: 942px;
    
}

.textForm{
    margin: 30px 100px;
    text-align: center;
}
.textForm p{
    margin-top: 5%;
    color:#878080;
    
}
.textForm h3{
    font-weight: lighter;
    margin-top: 5%;
}
.emailReg{
    margin-top: 15%;
    
}
.emailReg h3{
    margin-left: 8.5%;
    font-weight: lighter;
}
#join{
    text-decoration: none;
    color: #438752;
    font-weight: bold   ;
}
.input-form{
    margin: 8% 40px;
    
    
}
.input-form h4{
    font-weight: lighter;
    color: #878080;
    margin-bottom: 5%;
}

.input-form input{
    padding: 10px 0;
    width: 400px;
    color: black;
    font-size: 14px;
    background-color: none;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #878080;
    
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus{
    border: none;
}
.input-form select{
    padding: 10px 0 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #878080;
}
.input-form-submit input[type="submit"]{
    margin-top: 50px;
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    background-color: #C4C4C4;
    font-weight: bold;
    margin-left: 20%;
    border-radius: 20px;
    border: none;
    font-size: large;
}
.input-form-submit input[type="submit"]:hover{
    background-color: #9e9e9e;
    cursor: pointer;
    
    
}
.input-form label{
    margin-top: 10px;
    color: #878080;
}
.forgotPassword{
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    font-weight: lighter;
    
}
._password{
    color: black;
    
}
#country{
    width: 400px;
}

@media  only screen and (max-width: 1200px){
    *{
        padding: 0;
        margin: 0;
    }
    .form{
        padding-left: 0;
    }
    .input-form-submit input[type="submit"]{
        margin-left: 27%;
    }
   
}




@media  only screen and (max-width: 800px){
    *{
        padding: 0;
        margin: 0;
    }
    .header{
        display: none;
    }
    .input-form-submit input[type="submit"]{
        margin-left: 15%;
    }
}

@media  only screen and (max-width: 500px){
    *{
        padding: 0;
        margin: 0;
    }
    .header{
        display: none;
    }
    
    .input-form-submit input[type="submit"]{
        margin-left: 18%;
    }

}

@media  only screen and (max-width: 400px){
    *{
        padding: 0;
        margin: 0;
    }
    .header{
        display: none;
    }
   
    .input-form-submit input[type="submit"]{
        margin-left: 16%;
        padding: 10px 0;
    }
    .form{
        max-width: 350px;
        margin-left: -10%;
    }
    .input-form input{
        width: 320px;
        
    }
    #country{
        width: 330px;
    }
    
    .input-form-submit input[type="submit"]:active{
        background-color: rgb(54, 54, 54);
        
    }
}



