@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background-color: #F3F3F3;
}
.burgerBtn{
    display: none;
}
.burgerBtn button{
    background: none;
    border: none;
}
.burgerBtn button   :hover{
    cursor: pointer;
}
.header{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 70px 70px;
    background-color: #fff;
    box-shadow: 3px 3px 1px gray;
}
ul{
    list-style-type: none;
}
._header{
    width: 800px;
    display: flex;
}
._header{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.search{
    
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    
    
    height: 50px;
    border-radius: 40px;
}
.__search{
        max-width: 270px;
        display: flex;
        align-items: center;
        background-color: #E3E3E3;
        border-radius: 40px;
        padding-left: 10px;
}
input[type="search"]::placeholder{
    font-weight: bolder;
    color: black;
    font-family: Inter;
    
    
}


input[type="search"]{
    border: none;
    padding: 10px 10px;
    border-radius: 40px;
    text-align: center;
    font-weight: 700;
    background-color: #E3E3E3;
    text-align: start;
}
input[type="search"]:focus{
    outline: none;
}
.navButtons{
    display: flex;
    justify-content: space-between;
}
#language{
    background: none;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
}
#language img{
    margin-right: 3px;
    margin-top: 4%;
}
#registration{
    background: none;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.shops{
    display: flex;
    justify-content: center;
}
.categories{
    margin-top: 5%;
    align-content: center;
}
.btn{
    display: flex;
    justify-content: center;
}
._upper{
    width: 180px;
    background-color: BLACK;
    border-radius: 50%;
    height: 180px;
    text-align: center ;
    font-weight: 700;
    
}
.food{
    line-height: 300px;
}
.markets{
    line-height: 280px;
}
.forKids{
    line-height: 280px;
}
.health_beauty{
    line-height: 270px;
}
.upperLines{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.lowerLines{
    display: flex;
    justify-content: space-evenly;
}

._lower{
    width: 180px;
    background-color: #C4C4C4;
    border-radius: 100px;
    height: 180px;
    text-align: center ;
    font-weight: 700;
    line-height: 270px;
}

h2{
    margin-left: 10%;
    margin-top: 5%;
}
.restaraunts{
    margin-top: 5%;
    margin-left: 2%;

}
.upperRests{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.lowerRests{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.rest{
    min-width: 255px;
    min-height: 200px;
    background-color: #E1E1E1;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.rest h3{
    width: 255px;
    padding: 10px;
    background-color: #D7D2D2;
    color: black;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
    margin-top: 63%;
    text-align: center;
    font-size: medium;
    
}

.moreRests{
    margin-top: 5%;
    padding: 20px;
    border-radius: 40px;
    background-color: #fff;
    border: 2px solid black;
    font-size: large;
}

.moreRests:hover{
    background-color: #C4C4C4;
    cursor: pointer;
}

.footer{
    margin-top: 10%;
    width: 100%;
    padding-bottom: 150px;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column; 
    border-radius: 5% 5% 0 0;
}

._footer{
    display: flex;
    justify-content: space-evenly;
}
#logo_footer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D6D6D6;
    
}
._logoFooter{
    margin-left: 16.2%;
    margin-top: 5%;
    text-align: center;
    line-height: 80px;
}

._footer li{
    margin-top: 15%;
}
.social_icons{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.social_icon{
    border: 1px solid black;
    width: 72px;
    background-color: #C4C4C4;
    height: 72px;
}

@media (max-width:900px) {
    
    .burgerBtn{
        display: block;
    }
    .header{
       border-radius: 0;
    }
    .logo, ._header, .navButtons{
        display: none;
    }
    .categories{
        font-size: 0px;
    }
    #language, #registration{
        padding: 5px;
    }
   
    ._upper{
        width: 100px;
        height: 100px;
        font-size: 0px;
    }
    ._lower{
        height: 100px;
        width: 100px;
    }
    ._footer{
        flex-direction: column;
        margin-left: 15%;
    }
    .rests_{
        flex-direction: column;
        margin-left: 10%;
    }
    .moreRests{
        margin-left: 5%;
}

.rests_{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
}

.__faiza{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: bold;
    margin-top: 50px;
    background-color: #E3E3E3;
    border-radius: 40px;
    width: 350px;
    padding: 15px;

}

#minus_{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    color: #C4C4C4;
    background-color: #fff;
    font-weight: 1000;
    font-size: larger;
}
#plus_{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #C4C4C4;
    font-size: larger;
    margin-left: 5px;
}
#minus_:hover{
    cursor: pointer;
    
}
#plus_:hover{
    cursor: pointer;
    
}
.textFaiza{
    margin: 5px;
}

._more{
    padding: 10px 80px;
}
